    .hmcabw-main-wrapper {
        border: 1px solid #DDDDDD;
        margin: 20px 0;
        background: transparent;
        padding: 5px!important;
    }
    
    .hmcabw-main-wrapper .hmcabw-parent-container {
        border: 0px solid #000;
        width: 100%;
        clear: both;
        display: flex;
        flex-wrap: wrap;
        min-height: 80px;
        margin: 0;
    }
    
    .hmcabw-main-wrapper .hmcabw-parent-container .hmcabw-image-container {
        min-width: 50px;
        border: 0px solid #009900;
        min-height: 80px;
        margin-right: 5px;
        padding: 5px 0 0 5px;
        text-align: center;
    }
    
    .hmcabw-main-wrapper .hmcabw-parent-container .hmcabw-image-container img {
        height: auto;
        margin: 5px auto 0;
    }
    
    .hmcabw-main-wrapper .hmcabw-parent-container .hmcabw-image-container.square img {
        border-radius: 0px;
    }
    
    .hmcabw-main-wrapper .hmcabw-parent-container .hmcabw-image-container.rounded img {
        border-radius: 15px;
    }
    
    .hmcabw-main-wrapper .hmcabw-parent-container .hmcabw-image-container.circle img {
        border-radius: 80px;
    }
    
    .hmcabw-main-wrapper .hmcabw-parent-container .hmcabw-info-container {
        flex: 1;
        border: 0px solid #FF0000;
        min-height: 80px;
        padding: 5px;
    }
    
    .hmcabw-main-wrapper .hmcabw-parent-container .hmcabw-info-container h3.hmcabw-name {
        border: 0px solid #000;
        margin: 0;
        margin-top: 2px;
        padding: 0;
        font-size: 24px;
        line-height: 30px;
        color: #242424;
    }
    
    .hmcab-name-border-main {
        height: 4px;
        width: 80px;
        margin: 10px 0px;
        background-color: #999;
        border-radius: 4px;
    }
    
    .hmcabw-main-wrapper .hmcabw-parent-container .hmcabw-info-container p.hmcabw-title {
        border: 0px solid #000;
        margin: 0 0 8px 0;
        padding: 0;
        font-size: 18px;
        font-weight: 600;
        color: #242424;
    }
    
    .hmcabw-main-wrapper .hmcabw-parent-container .hmcabw-info-container p.hmcabw-bio-info {
        border: 0px solid #000;
        margin: 5px 0;
        padding: 0;
        display: block;
        text-decoration: none;
    }
    
    .hmcabw-main-wrapper .hmcabw-parent-container .hmcabw-info-container p {
        border: 0px solid #000;
        margin: 5px 0;
        padding: 0;
        display: block;
        text-decoration: none;
    }
    
    .hmcabw-main-wrapper .hmcabw-email-url-container {
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
        padding: 0;
        padding-left: 5px;
        clear: both;
        display: flex;
        flex-wrap: wrap;
        border: 0px solid #000;
    }
    
    .hmcabw-main-wrapper .hmcabw-email-url-container>div {
        text-align: center;
        padding-right: 5px;
        line-height: 40px;
        font-size: 12px;
        margin-top: 10px;
    }
    
    .hmcabw-main-wrapper .hmcabw-email-url-container>div p.hmcabw-email {
        border: 0px solid #000;
        margin: 0;
        padding: 0;
        line-height: 16px;
        font-size: 12px;
        color: #666;
    }
    
    .hmcabw-main-wrapper .hmcabw-email-url-container>div a.hmcabw-website {
        border: 0px solid #000;
        margin: 0;
        padding: 0;
        display: block;
        text-decoration: none;
        line-height: 16px;
        font-size: 12px;
        color: #666;
    }
    
    .hmcabw-main-wrapper .hmcabw-email-url-container>div p.hmcabw-email>span,
    .hmcabw-main-wrapper .hmcabw-email-url-container>div a.hmcabw-website>span {
        font-size: 14px;
        line-height: 19px;
        margin: 0;
        padding: 0;
        border: 0px solid #000;
    }
    
    .hmcabw-main-wrapper .hmcabw-social-container {
        width: 100%;
        margin: 0;
        padding: 0;
        clear: both;
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid #DDD;
        text-align: center;
    }
    
    .hmcabw-main-wrapper .hmcabw-social-container>div {
        background-color: #999;
        width: 45px;
        margin: 5px;
        text-align: center;
        line-height: 22px;
        padding: 8px 0px;
        font-size: 30px;
        height: 45px;
    }
    
    .hmcabw-main-wrapper .hmcabw-social-container>div.rounded {
        border-radius: 10px;
    }
    
    .hmcabw-main-wrapper .hmcabw-social-container>div.circle {
        border-radius: 50px;
    }
    /*=========================
    temp_1
    ==========================*/
    
    .hmcabw-main-wrapper.temp_1 .hmcabw-parent-container .hmcabw-info-container .hmcab-name-border-main {
        background-color: #00BFFF;
    }
    
    .hmcabw-main-wrapper.temp_1 .hmcabw-email-url-container>div p.hmcabw-email,
    .hmcabw-main-wrapper.temp_1 .hmcabw-email-url-container>div a.hmcabw-website,
    .hmcabw-main-wrapper.temp_1 .hmcabw-email-url-container>div p.hmcabw-email>span,
    .hmcabw-main-wrapper.temp_1 .hmcabw-email-url-container>div a.hmcabw-website>span {
        color: #00BFFF;
    }
    
    .hmcabw-main-wrapper.temp_1 div.hmcabw-social-container>div {
        background: #00BFFF;
    }
    /*=========================
    temp_2
    ==========================*/
    
    .hmcabw-main-wrapper.temp_2 .hmcabw-parent-container .hmcabw-info-container .hmcab-name-border-main {
        background-color: #DEB887;
    }
    
    .hmcabw-main-wrapper.temp_2 .hmcabw-email-url-container>div p.hmcabw-email,
    .hmcabw-main-wrapper.temp_2 .hmcabw-email-url-container>div a.hmcabw-website,
    .hmcabw-main-wrapper.temp_2 .hmcabw-email-url-container>div p.hmcabw-email>span,
    .hmcabw-main-wrapper.temp_2 .hmcabw-email-url-container>div a.hmcabw-website>span {
        color: #DEB887;
    }
    
    .hmcabw-main-wrapper.temp_2 div.hmcabw-social-container>div {
        background: #DEB887;
    }
    /*=========================
    temp_3
    ==========================*/
    
    .hmcabw-main-wrapper.temp_3 .hmcabw-parent-container .hmcabw-info-container .hmcab-name-border-main {
        background-color: #555555;
    }
    
    .hmcabw-main-wrapper.temp_3 .hmcabw-email-url-container>div p.hmcabw-email,
    .hmcabw-main-wrapper.temp_3 .hmcabw-email-url-container>div a.hmcabw-website,
    .hmcabw-main-wrapper.temp_3 .hmcabw-email-url-container>div p.hmcabw-email>span,
    .hmcabw-main-wrapper.temp_3 .hmcabw-email-url-container>div a.hmcabw-website>span {
        color: #555555;
    }
    
    .hmcabw-main-wrapper.temp_3 div.hmcabw-social-container>div {
        background: #555555;
    }
    /*=========================
    temp_4
    ==========================*/
    
    .hmcabw-main-wrapper.temp_4 .hmcabw-parent-container .hmcabw-info-container .hmcab-name-border-main {
        background-color: #9932CC;
    }
    
    .hmcabw-main-wrapper.temp_4 .hmcabw-email-url-container>div p.hmcabw-email,
    .hmcabw-main-wrapper.temp_4 .hmcabw-email-url-container>div a.hmcabw-website,
    .hmcabw-main-wrapper.temp_4 .hmcabw-email-url-container>div p.hmcabw-email>span,
    .hmcabw-main-wrapper.temp_4 .hmcabw-email-url-container>div a.hmcabw-website>span {
        color: #9932CC;
    }
    
    .hmcabw-main-wrapper.temp_4 div.hmcabw-social-container>div {
        background: #9932CC;
    }
    /*=========================
    temp_5
    ==========================*/
    
    .hmcabw-main-wrapper.temp_5 .hmcabw-parent-container .hmcabw-info-container .hmcab-name-border-main {
        background-color: #B22222;
    }
    
    .hmcabw-main-wrapper.temp_5 .hmcabw-email-url-container>div p.hmcabw-email,
    .hmcabw-main-wrapper.temp_5 .hmcabw-email-url-container>div a.hmcabw-website,
    .hmcabw-main-wrapper.temp_5 .hmcabw-email-url-container>div p.hmcabw-email>span,
    .hmcabw-main-wrapper.temp_5 .hmcabw-email-url-container>div a.hmcabw-website>span {
        color: #B22222;
    }
    
    .hmcabw-main-wrapper.temp_5 div.hmcabw-social-container>div {
        background: #B22222;
    }
    /*=========================
    temp_6
    ==========================*/
    
    .hmcabw-main-wrapper.temp_6 .hmcabw-parent-container .hmcabw-info-container .hmcab-name-border-main {
        background-color: #20B2AA;
    }
    
    .hmcabw-main-wrapper.temp_6 .hmcabw-email-url-container>div p.hmcabw-email,
    .hmcabw-main-wrapper.temp_6 .hmcabw-email-url-container>div a.hmcabw-website,
    .hmcabw-main-wrapper.temp_6 .hmcabw-email-url-container>div p.hmcabw-email>span,
    .hmcabw-main-wrapper.temp_6 .hmcabw-email-url-container>div a.hmcabw-website>span {
        color: #20B2AA;
    }
    
    .hmcabw-main-wrapper.temp_6 div.hmcabw-social-container>div {
        background: #20B2AA;
    }
    /*======================================
    *
    ======================================*/
    
    @media(max-width:600px) {
        .hmcabw-main-wrapper .hmcabw-parent-container {
            display: block;
        }
        .hmcabw-main-wrapper .hmcabw-parent-container .hmcabw-image-container {
            width: 100%;
            text-align: center;
        }
        .hmcabw-main-wrapper .hmcabw-parent-container .hmcabw-image-container img {
            width: 150px;
        }
        .hmcabw-main-wrapper .hmcabw-parent-container .hmcabw-info-container {
            text-align: center;
        }
        .hmcab-name-border-main {
            margin: 10px auto;
        }
    }